$blue: #1259c3;
$lightblue: #3483fa;
$yellow:#fff159;
$graybg: #ebebeb;
$green:#00a650;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
}

header{
    background-color: $yellow;

    nav{

        .header-nav1{
            display: grid;
            grid-template-areas: "logo input imgdisney" "ubi navbar cuenta";
            grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
            grid-template-rows: 40px 28px;
            column-gap: 24px;
            grid-row-gap: 12px;
            padding: 8px 10px 12px 10px;
            justify-content: center;
            font-size: 14px;
            font-weight: 300;
            color: #333;

        
            

            .nav-div{
                align-self: center;
                flex-wrap: nowrap;

               

                input{
                    position: relative;
                    z-index: 915;
                    color: #333;
                    font-size: 16px;
                    margin: 0;
                    border-radius: 2px;
                    background-color: #fff;
                    display: flex;
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
                    height: 40px;
                    width: 100%;
                    padding: 10px 60px 10px 15px;
                    border-style: solid;
                    border-color: rgba(0,0,0,0);
                    border-width: 1.5px;
                    
                }
                
                button{
                    z-index: 930;
                    width: 40px;
                    padding: 0;
                    margin: 0;
                    background-color: #fff;
                    border: 0;
                    cursor: pointer;
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
                    &::before{
                        font-family: "navigation"
                    }

                }
                #buscar{
                    height: 38px;
                    margin: 0;
                    .bi{
                        font-size: 15px;
                    }
                }
                
            }

            .input{
                display: flex;
            }
    
            .logo{
                display: flex;
                img{
                    height: 40px;
                }
                grid-area: logo;
                .expand-nav{
                    visibility:hidden;
                    z-index: 3;
                }
            }

            .imgdisney{
                img{
                    height: 39px;
                    width: 340px;
                }
                grid-area: imgdisney;
                justify-self: end;
            }

            
            .ubi{
                height: 40px;
                grid-area: ubi;
                display: flex;
                color: #444;
                .bi{
                    font-size: 25px;
                    position: relative;
                    font-weight: 100;
                }
                .text{
                    text-align: start;
                    align-self: flex-end;
                    .txt1{
                        font-size: 11px;
                    }
                }
                

            }
            .navbar{

                grid-area: navbar;
                .lista1{
                    li{
                        text-decoration: none;
                        list-style: none;
                        margin: 5px;
                        position:relative;
                        
                        
                    }
                    .expand{
                        
                        height: 100%;
                        --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
                        display: flex;

                        & :hover{
                            --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                        }
                        ul{
                            display: flex;
                            clip-path: var(--clip);
                        }
                    }
                    
                    
                    display: flex;
                    a{
                        height: 40px;
                        text-decoration: none;
                        color: #444;
                        display: flex;
                        height: 100%;
                        align-items: center;
                    }
                    @media (max-width: 581px){
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        grid-template-rows: 33px;
                        margin-bottom: 15 px;
    
                    }
                }
                
            }
            .cuenta{
                grid-area: cuenta;
                justify-self: end;
                .lista1{
                    li{
                        text-decoration: none;
                        list-style: none;
                        margin: 5px;
                    }
                    display: flex;
                    a{
                        text-decoration: none;
                        color: #444;

                        .bi{
                            font-size: 20px;
                        }
                    }
                    
                }
            }
            @media (max-width: 987px){
                display:grid;
                grid-template-areas: "logo input" "imgdisney ubi" "navbar cuenta";
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 40px 40px 40px;
                justify-content: center;
    
                .logo{
                    display: flex;
                    justify-content: center;
                }
                .imgdisney{
                    display: flex;
                    justify-content: flex-start;
                    margin-right: 60px;
                }
                .ubi{
                    display: flex;
                    justify-content: center;
                }
                
                .navbar{
                    display: flex;
                    align-items: baseline;
                    justify-self: flex-end;
                }
                .lista1{
                    display: flex;
                    align-items: baseline;
                    justify-content: flex-start;
                }
                .cuenta{
                    width: max-content;
                    text-align: left;
                }
    
            }
            @media (max-width: 782px){
                display: flex;
                flex-direction: column;
                grid-template-rows: 40px 40px 40px 40px 80px 40px;
                .logo{
                    width: 100vw;
                    display: flex;
                    justify-content: space-evenly;
                    .expand-nav{
                        visibility: visible;
                        font-size: 14px;
                        border-radius: 3px;
                        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
                        background-color: #fff;
                    }
                }
                .imgdisney{
                    display: flex;
                    justify-content: flex-start;
                    margin: 0;
                }
                .hide{
                    display:none;
                }
            }
        }
    
    }

}

// Fin Header

// Inicio Main

main{

    a{
        color: $lightblue;
        text-decoration: none;
        
        &:hover{
            color: $blue;
        }
    }

    // Carroussel
    background-color: $graybg;
    

    .carroussel-sec{
        height: 340px;
        display: flex;
        align-items: center;
        justify-content: center;
        

        .carroussel-div{
            height: 340px;
            width: 100vw;
            position: relative;
            display: flex;
            justify-content: center;
            
        
            
            .img {
                display: flex;
                
                // max-width: 1200px;
                overflow: hidden;
                cursor: pointer;
                white-space: nowrap;
                z-index: 1;


                img{
                    justify-self: center;
                    object-fit: cover;
                    margin-left: 20px;

                    

                    &:first-child{
                        margin-left: 0px;
                    }
                }
                
            }


            
            button{
                
                z-index: 2;
                height: 50px;
                width: 50px ;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
                align-self: center;
                background-color: #fff;
                position: absolute;
                border: none;
                top: 50%;
                line-height: 45px;
                opacity: 0;
                cursor: pointer;
                
                
            }
            
            .caleft{
                z-index: 2;
                left: 0;
                border-top-right-radius: 100%;
                border-bottom-right-radius: 100%;
            }
            .caright{
                z-index: 2;
                right: 0;
                border-top-left-radius: 100%;
                border-bottom-left-radius: 100%;
                
            }

        }
        .carroussel-div:hover{
            button{
                opacity: 100;
                transition: 0.5s;
            }
        }
        @media (max-width: 1000px){
            height: 240px;
            
            .carroussel-div{
                height: 240px;

                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    width: 35px ;
                    top: 45%;
                }
            }

        }
        @media (max-width: 720px){
            height: 170px;
            
            .carroussel-div{
                height: 170px;
                button{
                    top: 40%;
                }
            }
        }

    }
    // medios de pago
    .medios-pago{
        display: flex;
        padding: 50px;
        justify-content: center;

        .tarjetas{
            background-color: #fff;
            width: 1200px;
            border-radius: 5px;
            display: grid;
            grid-template-columns: 9fr 1fr;
            cursor: pointer;

            
            .tarj{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);

                @media (max-width: 987px){
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 92px 92px;

                }
                @media (max-width: 540px){
                    display: flex;
                    flex-direction: column;

                }

                .t{
                    display: flex;
                    align-items: center;
                    padding: 20px;
                    #tarjeta{
                        padding-left: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items:start;
                        a{
                            color: $lightblue;
                            text-decoration: none;
                            font-size: 12px;
                            padding: 0;
                            &:hover{
                                color: $blue;
                            }
                        }
                    }
                }
            }
            .mas{
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }

    // ofertas

    .ofertas{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .ofTitulo{
            width: 1200px;
            display: flex;
            padding-top: 10px;
            padding-bottom: 20px;
            align-items: baseline;
            @media (max-width: 1200px){
                width: 960px;
            }
            @media (max-width: 960px){
                width: 720px;
            }
            @media (max-width: 720px){
                width: 480px;
            }
            @media (max-width: 480px){
                width: 240px;
            }

            h1{
                color: #666;
                font-weight: 300;
                font-size: 26px;
                padding-right: 10px;
            }


        }
       
        .ofCarroussel{
            align-items: center;
            position: relative;
            display: flex;
            width: 1200px;
            @media (max-width: 1200px){
                width: 960px;
            }
            @media (max-width: 960px){
                width: 720px;
            }
            @media (max-width: 720px){
                width: 480px;
            }
            @media (max-width: 480px){
                width: 240px;
            }
            button{
                position: absolute;
                cursor: pointer;
                top: 50%;
                height: 60px;
                width: 60px;
                background-color: #fff;
                border-radius: 100%;
                border: none;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);

                &:hover{
                    box-shadow: 3px 5px 3px 0 rgba(0,0,0,.2);
                }
            }
            .oleft{
                left: 0px;
            }
            .oright{
                right: 0px;
            }
            .bi{
                color: $lightblue;
            }
            .divCarOf{
                display: grid;
                overflow: hidden;
                // justify-content: center;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                
                .carr-tarjeta{
                    width:224px;
                    margin: 8px;
                    border-radius: 5px;
                    border: none;
                    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
                    background-color: #fff;
                    cursor: pointer;

                    &:hover{
                        box-shadow: 3px 5px 3px 0 rgba(0,0,0,.2);
                    }
                    
                    img{
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
                    }
                    
                    .tarjInfo{
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        height: auto;
                        margin: 0;

                        .precio-viejo{
                            
                            span{
                                font-size: 14px;
                                text-decoration: line-through;
                            }
                        }
                        .preciodesc{
                            display: flex;
                            align-items: baseline;
                            .precio{
                                font-size: 26px;
                            }
                        }

                        .v{
                            color: $green;
                            font-size: 14px;
                        }

                    }
                    
                }
            }
        }
    }

}