*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
}

header{
    background-color: #fff159;

    nav{

        .header-nav1{
            display: grid;
            grid-template-areas: "logo input imgdisney" "ubi navbar cuenta";
            grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
            grid-template-rows: 40px 28px;
            column-gap: 24px;
            grid-row-gap: 12px;
            padding: 8px 10px 12px 10px;
            justify-content: center;
            font-size: 14px;
            font-weight: 300;
            color: #333;
            

            .nav-div{
                align-self: center;
                flex-wrap: nowrap;

               

                input{
                    position: relative;
                    z-index: 915;
                    color: #333;
                    font-size: 16px;
                    margin: 0;
                    border-radius: 2px;
                    background-color: #fff;
                    display: flex;
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
                    height: 40px;
                    width: 100%;
                    padding: 10px 60px 10px 15px;
                    border-style: solid;
                    border-color: rgba(0,0,0,0);
                    border-width: 1.5px;
                    
                }
                
                button{
                    z-index: 930;
                    width: 40px;
                    padding: 0;
                    margin: 0;
                    background-color: #fff;
                    border: 0;
                    cursor: pointer;
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
                    &::before{
                        font-family: "navigation"
                    }

                }
                #buscar{
                    height: 38px;
                    margin: 0;
                    .bi{
                        font-size: 15px;
                    }
                }
                
            }

            .input{
                display: flex;
            }
    
            .logo{
                img{
                    height: 40px;
                }
                grid-area: logo;
            }

            .imgdisney{
                img{
                    height: 39px;
                    width: 340px;
                }
                grid-area: imgdisney;
                justify-self: end;
            }

            
            .ubi{
                height: 40px;
                grid-area: ubi;
                display: flex;
                .bi{
                    font-size: 25px;
                    position: relative;
                    font-weight: 100;
                }
                .text{
                    text-align: start;
                    align-self: flex-end;
                    .txt1{
                        font-size: 11px;
                    }
                }
                

            }
            .navbar{

                grid-area: navbar;
                .lista1{
                    li{
                        text-decoration: none;
                        list-style: none;
                        margin: 5px;
                        position:relative;
                        
                        
                    }
                    .expand{
                        
                        height: 100%;
                        --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
                        display: flex;

                        & :hover{
                            --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                        }
                        ul{
                            display: flex;
                            clip-path: var(--clip);
                        }
                    }
                    
                    
                    display: flex;
                    a{
                        height: 40px;
                        text-decoration: none;
                        color: #333;
                        display: flex;
                        height: 100%;
                        align-items: center;
                    }
                }
            }
            .cuenta{
                grid-area: cuenta;
                justify-self: end;
                .lista1{
                    li{
                        text-decoration: none;
                        list-style: none;
                        margin: 5px;
                    }
                    display: flex;
                    a{
                        text-decoration: none;
                        color: #333;

                        .bi{
                            font-size: 20px;
                        }
                    }
                    
                }
            }
        }
    
    }

}

// Fin Header

// Inicio Main

main{
    background-color: #ebebeb;
    

    .carroussel-sec{
        height: 340px;
        display: flex;
        align-items: center;
        justify-content: center;

        .carroussel-div{
            height: 340px;
            width: 100vw;
            position: relative;
            display: flex;
            justify-content: space-between;
            
            
            .img {
                
                max-width: 1200px;
                overflow: hidden;
                cursor: pointer;
                white-space: nowrap;
                z-index: 1;


                img{
                    object-fit: cover;
                    margin-left: 20px;

                    &:first-child{
                        margin-left: 0px;
                    }
                }
                
            }


            
            button{
                
                z-index: 2;
                height: 50px;
                width: 50px ;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
                align-self: center;
                background-color: #fff;
                border: none;
                top: 50%;
                line-height: 45px;
                opacity: 0;
                cursor: pointer;
                
                
            }
            
            .caleft{
                z-index: 2;
                border-top-right-radius: 100%;
                border-bottom-right-radius: 100%;
            }
            .caright{
                z-index: 2;
                border-top-left-radius: 100%;
                border-bottom-left-radius: 100%;
                
            }

        }
        .carroussel-div:hover{
            button{
                opacity: 100;
                transition: 0.5s;
            }
        }
    }
}